# ceisium token
# eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJkODk4ZDliNS03NGQ4LTRiYmUtOTg1NS1iOTE1MmRmYTg0NmQiLCJpZCI6MzI4MzY5LCJpYXQiOjE3NTQyNzk4MjF9.o2SCIP-TECRFhK9xKGkFGEKfaCxRrOk143V_9k4ZXQA

# 예외파일
public/resources/fonts/